.about {
  padding: 100px 0;
  background-color: #EEEEEE;
}

.about h1 {
  font-size: 70px;
  font-weight: 300;
}

.about p {
  font-weight: 200;
  line-height: 1.5;
  font-size: 18px;
}

.main-container {
  /* background-color: red; */
  margin-top: 30px;
  margin-bottom: 70px;
}

.container {
  /* max-width: 768px; */
  margin: 0 auto;
  max-width: 992px;
  /* text-align: center; */
}

.container p {
  position: relative;
}

.container p::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 425px;
  width: 150px;
  height: 1px;
  background-color: #000;
}

.about h2 {
  color: #000;
  font-weight: 500;
  margin-bottom: 5px;
}

.about span {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 200;
}

.box-content {
  margin: 40px 0;
}

.lastOne {
  position: relative;
}

.lastOne::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 350px;
  /* left: 41%; */
  width: 150px;
  height: 1px;
  background-color: #000;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 25px;

    max-width: 768px;
    /* background-color: red; */
    /* background-color: red; */
  }

  .container p::before {
    left:125px !important;
  }

  .about {
    padding: 50px 0;
  }

  .about .lastOne::after {
    left: 15px;
    /* left: 41%; */

  }

  .container p::before {
    left: 100px;
  }
}