
.main-first-section {
  height: 100vh;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-container {
  margin-bottom: 20px;
  text-align: left;
}

.text-container h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0;
}
.text-container h3{
  font-size: 18px;
  /* color: red; */
  margin-top: 8px;
  font-weight: 200;
}
.text-container img{
  /* width: 250px; */
  /* background-color: red !important; */
}
.mainImage {
  height: 100% !important;
width:850px !important; 
/* background-color: red; */
  /* width: 100%; */
}

.header-img img{
  border-radius: 10px;
  width: 100%;
}

.LinearProgress{
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .content {
      flex-direction: row;
      justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .main-first-section  {
      padding-top: 25px;
  }
  .mainImage {
    height: 100% !important;
  width:100% !important; 
  /* background-color: red; */
    /* width: 100%; */
  }
}




